{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
<form method="POST" class="text-center m-4">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label class="m-2" for="username">Username</label>
            <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter Username"
            />
        <label class="m-2" for="password">Password</label>
            <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            />
        <label class="m-2" for="confirm-password">Confirm Password</label>
            <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            class="form-control"
            placeholder="Confirm Password"
            />
        <br />
        <div align="center">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}